@use '../../styles/abstracts' as *;

.container {
    display: grid;
    gap: convertToRem(30);
    grid-template-columns: repeat(auto-fit, minmax(336px, 1fr));

    @include tablet {
        display: flex;
        flex-direction: column;
       align-items: center;
       justify-content: center;
       
    }
    
}