@use '../../styles/abstracts' as *;

.toggleWrapper {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    width: convertToRem(64);  // Figma'daki ölçülerin (convertToRem kullanabilirsin)
    height: convertToRem(32); 
    background-color: $color-neutral-300; // Görseldeki o açık mint/gri tonu
    border-radius: $radius-sm;
    cursor: pointer;
    display: flex;
    border-radius: $radius-md;
    padding: convertToRem(2);  // İçerideki beyaz kutunun kenar boşluğu

    input {
        opacity: 0;
        width: 0;
        height: 0;

        // Checkbox seçiliyken (Karanlık Mod) slider'ı sağa kaydır
        &:checked + .slider {
            transform: translateX(30px); // Kendi genişliği kadar sağa
        }
    }
}

.slider {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px; // Toplam genişliğin yarısı gibi
    height: 28px;
    background-color: white;
    border-radius: 6px;
    transition: transform 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.icons {
    position: relative;
    z-index: 2; // Slider'ın üstünde durmaları için
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.iconBox {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; // Tıklamayı checkbox'a iletmesi için
}