@use '../../../styles/abstracts/' as *;
@use '../../../styles/base/typography' as *;


.homeWrapper {
    display: flex;
    flex-direction: column;
    padding: convertToRem(32);
    gap: convertToRem(24);

    @include mobile {
        padding:  convertToRem(24);
    }
}

.header {
    font-size: $text-p1-size;
    font-weight: $text-p1-weight;
    line-height: $text-p1-lh;

    @include mobile {
        font-size: $text-p2-size;
        font-weight: $text-p2-weight;
        line-height: $text-p2-lh;
    }
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.sortButton {

    @include mobile {
        width: 107px;
        height: 42px;
    }
}